/* Default styles for larger screens */
.social-container {
  text-align: center;
}

.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 10px;
}

.social{
 color: black;
 font-size: xx-large;
 @media (max-width: 768px) {
  font-size:medium;
}

}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .social-links {
    flex-direction: column;
  }

  .social-links li {
    margin: 10px 0;
    text-align: center;
  }
}



/* contact.css */
.row {
  margin: 0; /* Remove default margin on rows */
}

.mapsection {
  display:flex;
  width: 500px;
  border-radius: 10px;
}

.map{
  border-radius: 10px;
}





