.carasousel-aero{
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    height: 40%;
    margin-top: 50px;
}
.highlight-aero{
    font-weight: 600;
    color: blue;
}
.aero-text{
    margin-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 600;
}
.aerotext{
    margin-top: 20px
}

.carasousel-soft{
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    height: 40%;
    margin-top: 50px;
}
.carasousel-controls{
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
    height: 40%;
    margin-top: 50px;
}

.soft-text{
    margin-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
    font-weight: 600;
    justify-content: center;
}

.highlight-soft{
    font-weight: 600;
    color: blue;
}

.software-text{
    margin-top: 20px
}

.controls-text{
    color: black;
}